body{
background-color: #fefceb;
}
.custom-text {
position: absolute;
top: 250px;
left: 700px;
font-family: 'Balsamiq Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
font-size: 40px;
color: rgb(0, 0, 0);
}


.custom-text-sabo {
    position: absolute;
    top: 500px;
    left: 170px;
    font-family: 'Balsamiq Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    }


ul.menu {
font-family: 'Balsamiq Sans', sans-serif, monospace;
list-style-type: none;
padding: 0;
margin: 0;
background-color: #a5b3c8d3;
overflow: hidden;
max-width: 1200px;
position: fixed;
top: 0;
right: 0;
text-align: right;
}

li.menu-item {
display: inline-block;
margin-right: 10px;
}

li.menu-item a {
display: block;
color: rgb(80, 82, 92);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li.menu-item a:hover {
background-color: #ddd;
color: black;
}
