body{
background-color: #fefceb;
}
.custom-text {
position: absolute;
top: 250px;
left: 700px;
font-family: 'Balsamiq Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
font-size: 40px;
color: rgb(0, 0, 0);
}

.study-list-text {
    position: absolute;
    top: 100px;
    left: 625px;
    font-family: 'Balsamiq Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    }

ul.menu {
list-style-type: none;
padding: 0;
margin: 0;
background-color: rgba(203, 183, 170, 0.698);
overflow: hidden;
max-width: 1100px; /* Make the menu take up the full width */
position: fixed; /* Fix the menu at the top of the screen */
top: 0; /* Position it at the top of the screen */
right: 0; /* Align it with the right edge of the screen */
text-align: right; /* Right-align the menu items */
}

li.menu-item {
display: inline-block; /* Display the menu items horizontally */
margin-right: 10px; /* Add spacing between menu items */
}

li.menu-item a {
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li.menu-item a:hover {
background-color: #ddd;
color: black;
}

#show-delete-button, #confirm-delete-button, #cancel-button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#word-list-container {
    margin-top: 80px; /* Adjust the top margin to control vertical position */
    padding: 20px; /* Adjust padding to control spacing */
    text-align: center; /* Center the list horizontally */
}

/* Style for the list items */
#word-list li {
    font-family: 'Your Preferred Font', sans-serif; /* Choose your desired font */
    font-size: 18px; /* Choose your desired font size */
    color: #333; /* Choose your desired text color */
    list-style-type: none; /* Remove the default list bullet */
    margin-bottom: 10px; /* Adjust spacing between list items */
}

/* Style for unvisited links */
#word-list a:link {
    color: #333; /* Set the link text color */
    text-decoration: none; /* Remove underlines */
}

/* Style for visited links */
#word-list a:visited {
    color: #333; /* Set the link text color for visited links */
}

/* Additional CSS for positioning if needed */
/* Example: To right-align the list container */
#word-list-container {
    position: absolute;
    top: 100px; /* Adjust top position */
    left: 735px; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.button-container {
    text-align: right;
    
}

#flash-container {
    position: absolute;
    top: 190px; /* Adjust top position */
    left: 750px; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}