{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    <h1> Random Name Generator </h1>
    <p> </p>
    <style>
    /* Add a container to group the radio buttons and labels */
    .radio-container {
        display: flex;
        align-items: center; /* Vertically center items */
    }

    /* Style for the labels */
    .radio-label {
        margin-right: 10px; /* Adjust spacing between label and radio button */
        color: black;
        font-weight: bold;
    }
    .radio-buttons {
        margin-right: 10px; /* Adjust spacing between label and radio button */
        color: black;
    }
    </style>
    <form action="/process_form" method="POST">
    <div class="radio-container">
        <label class="radio-label" for="dropdown">Gender of Name:</label>
        
        <input type="radio" id="option1" name="radio_option" value="Male"
        <label class="radio-buttons" for="option1">Male</label>
    
        <input type="radio" id="option2" name="radio_option" value="Female">
        <label class="radio-buttons" for="option2">Female</label>
    
        <input type="radio" id="option3" name="radio_option" value="Random" checked>
        <label class="radio-buttons" for="option3">Random</label>
    </div>

    <h2></h2>
    <label for="dropdown"style="color: black; font-weight: bold;">Contents of Name:</label>
    <select id="dropdown" name="dropdown_option">
        <option value="Random">Random</option>
        <option value="FirstName">First name only</option>
        <option value="FirstAndLast">First and last name</option>
        <option value="FirstMiddleLast">First, middle, and last name</option>
    </select><br>

    <input type="submit" value="Submit">
    </form>
  </body>
</html>
{% endblock %}