{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <p class="about-title">About Me </p>
    <p class="about-text">Hi! My name is Julian Aparicio and I created No Sabo as a way for people to learn 
        Spanish in a new way. This project started off as a random name generator and went through many changes during my creative process. While I was building the random name generator I thought to myself, "What purpose would this really serve to people?". 
        I wanted to build something that I was passionate about and people could use in their day to day lives to 
        better themselves. As a No Sabo kid myself(for those who don't know is a Mexican who doesn't know a lot of Spanish),
        I've grown up with the weight on my shoulders of not ever feeling like I'm fully Mexican. Because of this, I've tried many language
        apps and methods to learn as much Spanish as I can. Using these apps so much, I was inspired to create my own. Not only
        for myself, but for everyone out there trying to learn Spanish. No Sabo provides a quick and easy way to discover new words,
        save them, study them, and test on them! Even if this application helps you learn and remember one Spanish word,
        that is worth it for me because of my passion for creating interfaces to help people. I hope to continue building web pages, apps,
        and things that help those around me for the rest of my life. 
    <p class="creds"> Drawing/Design creds: Julian Aparicio <br> Color choosing creds: Nataly Campos
</body>
</html>
{% endblock %}
