{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="correct-answer-stu">
        <div id="correct-stu">
            <h1>Correct! Here is the full information on the word</h1>
            <audio controls>
                <source src="{{audio}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p><strong>Spanish Word:</strong> <span id="generated-word">{{ random_word }}</span></p>
            <p><strong>Translation:</strong> <span id="generated-word">{{ translate_word }}</span></p>
            <p><strong>Spanish Sentence Example:</strong> <span id="generated-word">{{ spanish_sentence }}</span></p>
            <p><strong>English Sentence Example:</strong> <span id="generated-word">{{ english_sentence }}</span></p>
            <p><strong>More Info:</strong> <a href="https://www.spanishdict.com/translation/{{random_word}}" target="_blank">SpanishDict.com</a></p>
    <form method="get" action="/study-list-quiz">
            <button type="submit" id="next-ques-stu">Next Question</button>
        </div>
    </div>
        <input type="hidden" name="random_word" value="{{ random_word }}">
        <input type="hidden" name="translate_word" value="{{ translate_word }}">
        <input type="hidden" name="spanish_sentence" value="{{ spanish_sentence }}">
        <input type="hidden" name="english_sentence" value="{{ english_sentence }}">
        <input type="hidden" name="audio" value="{{ audio }}">
    </form>
</body>
</html>
{% endblock %}