<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>  </h1>
    <p>Hello! Welcome to No Sabo, where you can learn some new spanish words in no time! Use the random spanish word generator and add words to your study list where you can go back to study! Then quiz yourself on all the words you have saved!xD</p>
    
    {% endblock %}
  </body>
</html>