{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Balsamiq Sans">
</head>
<body>
  <ul class="menu">
    <li class="menu-item"><a href="{{ url_for('generate_word') }}">Random Spanish Word Generator</a></li>
    <li class="menu-item"><a href="{{ url_for('view_study_list2') }}">View Study List</a></li>
    <li class="menu-item"><a href="{{ url_for('study_list_quiz') }}">Quiz Your Study List Words</a></li>
    <li class="menu-item"><a href="{{ url_for('random_quiz') }}">Quiz Random Words</a></li>
    <li class="menu-item"><a href="{{ url_for('home') }}">About</a></li>
  </ul>
    
    <p class="custom-text">Discover new Spanish words and <br> learn their meaning in seconds! </p>
    <p class="custom-text-sabo">The more you sabo, the more you know! </p>
    
    <p class="custom-random-gen">Generate spanish words with their translation and example sentences, then save them! </p>
      <a href="/generate-word" id="word-gen">Generate Word</a>

    <p class="view-stu">View everything you've saved here and <br>click any word in the study list to view it's info! </p>
    <a href="/study-list2" id="view-stuuu">Go To Study List</a>

    <p class="stu-quiz">Quiz yourself on the words you've sabo'd! </p>
    <a href="/study-list-quiz" id="quiz">Study List Quiz</a>

    <p class="rand-quiz">Quiz yourself on all new words and add <br> them to your study list as well! </p>
    <a href="/random-quiz" id="quiz-rand">Random Word Quiz</a>

    <div id="flash-container-home">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="flash-messages">
          {% for message in messages %}
              <div class="flash-message">{{ message }}</div>
          {% endfor %}
          </div>
      {% endif %}
      {% endwith %}
  </div>
  </body>
</html>
{% endblock %}