{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Word</title>
</head>
<body>
    <h1>Generated Word</h1>
    <p><strong>Spanish Word:</strong> <span id="generated-word">{{ random_word }}</span></p>
    <p><strong>Translation:</strong> <span id="generated-word">{{ translate_word }}</span></p>
    <p><strong>Spanish Sentence Example:</strong> <span id="generated-word">{{ spanish_sentence }}</span></p>
    <p><strong>English Sentence Example:</strong> <span id="generated-word">{{ english_sentence }}</span></p>
    <p><strong>More Info:</strong> <a href="https://www.spanishdict.com/translation/{{random_word}}" target="_blank">SpanishDict.com</a></p>
    <audio controls>
        <source src="https://media.merriam-webster.com/audio/prons/es/me/mp3/{{audio[0]}}/{{audio}}.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <form method="POST" action="/save-to-study-list">
        <input type="hidden" name="spanish_word" value="{{ random_word }}">
        <input type="hidden" name="english_word" value="{{ translate_word }}">
        <input type="hidden" name="spanish_sentence" value="{{ spanish_sentence }}">
        <input type="hidden" name="english_sentence" value="{{ english_sentence }}">
        <input type="hidden" name="audio" value="https://media.merriam-webster.com/audio/prons/es/me/mp3/{{ audio[0] }}/{{ audio }}.mp3">
        <button type="submit">Save to Study List</button>
    </form>
    <a href="/study-list">View Study List</a>
</body>
</html>
{% endblock %}