{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    <h1> Random Rapper Name Generator </h1>
    <p> </p>
    <style>
    /* Add a container to group the radio buttons and labels */
    .radio-container {
        display: flex;
        align-items: center; /* Vertically center items */
    }

    /* Style for the labels */
    .radio-label {
        margin-right: 10px; /* Adjust spacing between label and radio button */
        color: black;
        font-weight: bold;
    }
    .radio-buttons {
        margin-right: 10px; /* Adjust spacing between label and radio button */
        color: black;
    }
    </style>
    <form action="/process_form" method="POST">
    <div class="radio-container">
        <label class="radio-label" for="dropdown">Type of Rapper Name:</label>
        
        <input type="radio" id="option3" name="radio_option" value="Lil" checked>
        <label class="radio-buttons" for="option3">Lil...</label>
        
        <input type="radio" id="option1" name="radio_option" value="Big">
        <label class="radio-buttons" for="option1">Big...</label>

        <input type="radio" id="option2" name="radio_option" value="Da">
        <label class="radio-buttons" for="option2">Da...</label>
    
        <input type="radio" id="option2" name="radio_option" value="Random">
        <label class="radio-buttons" for="option2">Random</label>
    
    </div>

    <input type="submit" value="Submit">
    </form>
  </body>
</html>
{% endblock %}