{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study List</title>
</head>
<body>
    <h1>Study List</h1>
    <ul>
        {% if not study_list %}
            <p>It's empty in here!!</p>
        {% else %}
            {% for word in study_list %}
                <li>{{ word.spanish_word }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    <a href="javascript:history.back()">Back to Your Word</a>
</body>
</html>
{% endblock %}